@{

    var name = "";
    var length = 0;
    var width = 0;
    var drawers = 0;
    var material = "";
    var numDays = 0;
    var totalCost = 0;
    var orderId = "";

    @*
        Get data based on ID
    *@
    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            orderId = Request.QueryString["ID"];
            var db = Database.Open("WebPagesEscritorio");
            var dbCommand = "SELECT * FROM Escritorio WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, orderId);

            if (row != null)
            {
                name = row.Name;
                length = row.Length;
                width = row.Width;
            }
            else
            {
                Validation.AddFormError("No Escritorio was selected.");
            }
        }
        else
        {
            Validation.AddFormError("No Escritorio was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("name", "You must enter a name");
        Validation.RequireField("length", "Length is required");
        Validation.RequireField("width", "Width is required");
        Validation.RequireField("drawers", "Drawers is required");
        Validation.RequireField("material", "Material is required");
        Validation.RequireField("numDays", "Days is required");
        Validation.RequireField("totalCost", "Total cost is required");
        Validation.RequireField("orderId", "No order ID was submitted!");


        name = Request.Form["name"];
        length = Request.Form["length"].AsInt();
        width = Request.Form["width"].AsInt();
        drawers = Request.Form["drawers"].AsInt();
        material = Request.Form["material"];
        numDays = Request.Form["numDays"].AsInt();

        var materialCost = 0;
        switch (material)
        {
            case "Pine":
                materialCost = 50;
                break;
            case "Laminate":
                materialCost = 100;
                break;
            case "Oak":
                materialCost = 200;
                break;
            case "Mahogany":
                materialCost = 250;
                break;
            case "Zebrawood":
                materialCost = 300;
                break;
            case "Purpleheart":
                materialCost = 350;
                break;
        }

        var orderTotal = 200;

        if ((length * width) < 1000)
        {
            totalCost = orderTotal + drawers + materialCost + numDays;

            orderId = Request.Form["orderId"];
            var db = Database.Open("WebPagesEscritorio");
            var updateCommand = "UPDATE Escritorio SET Name=@0, Length=@1, Width=@2, Drawers=@3, Material=@4, Days=@5, Total=@6 WHERE ID=@7";
            db.Execute(updateCommand, name, length, width, drawers / 50, material, numDays, totalCost, orderId);
            Response.Redirect("~/MegaEscritorio");
        }
        else
        {
            var actualCost = (((length * width) - 1000) * 5) + orderTotal;
            totalCost = actualCost + drawers + materialCost + numDays;

            orderId = Request.Form["orderId"];
            var db = Database.Open("WebPagesEscritorio");
            var updateCommand = "UPDATE Escritorio SET Name=@0, Length=@1, Width=@2, Drawers=@3, Material=@4, Days=@5, Total=@6 WHERE ID=@7";
            db.Execute(updateCommand, name, length, width, drawers / 50, material, numDays, totalCost, orderId);
            Response.Redirect("~/MegaEscritorio");
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>    <!-- Latest compiled and minified CSS -->
    @RenderPage("header.cshtml");
</head>
<body>
<h2>Edit an Escritorio</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Escritorio Information</legend>

        <p>
            <label for="name">Customer:</label>
            <input type="text" name="name" value="@name" />
        </p>

        <p>
            <label for="length">Length:</label>
            <input type="text" name="length" value="@length" />
        </p>

        <p>
            <label for="width">Width:</label>
            <input type="text" name="width" value="@width" />
        </p>

        @Html.Label("Number of Drawers:")
        <select name="drawers">
            <option value="0">No Drawers</option>
            <option value="50">1 Drawers ($50)</option>
            <option value="100">2 Drawers ($100)</option>
            <option value="150">3 Drawers ($150)</option>
            <option value="200">4 Drawers ($200)</option>
            <option value="250">5 Drawers ($250)</option>
            <option value="300">6 Drawers ($300)</option>
            <option value="350">7 Drawers ($350)</option>
        </select>
        @Html.ValidationMessage("drawers")
        <br /><br />

        @Html.Label("Desk Material:")
        <select id="material" name="material">
            <option value="Pine">Pine ($50)</option>
            <option value="Laminate">Laminate ($100)</option>
            <option value="Oak">Oak ($200)</option>
            <option value="Mahogany">Mahogany ($250)</option>
            <option value="Zebrawood">Zebrawood ($300)</option>
            <option value="Purpleheart">Purpleheart ($350)</option>
        </select>
        @Html.ValidationMessage("material")
        <br /><br />

        @Html.Label("Days on Order:")
        <select name="numDays">
            <option value="0">14 Days (no rush)</option>
            <option value="3">3 Days (rush)</option>
            <option value="5">5 Days (rush)</option>
            <option value="7">7 Days (rush)</option>
        </select>
        @Html.ValidationMessage("numDays")
        <br /><br />

        <input type="hidden" name="orderId" value="@orderId" />

        <p><input class="btn btn-primary" type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>
<p><a class="btn btn-primary" href="~/MegaEscritorio">Return to Mega Escritorio Orders</a></p>
</body>
</html>
