@{ 
    var name = "";
    var length = 0;
    var width = 0;
    var drawers = 0;
    var material = "";
    var numDays = 0;
    var totalCost = 0;
    var date = DateTime.Now;
    var orderId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            orderId = Request.QueryString["ID"];
            var db = Database.Open("WebPagesEscritorio");
            var dbCommand = "SELECT * FROM Escritorio WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, orderId);

            if (row != null)
            {
                name = row.Name;
                length = row.Length;
                width = row.Width;
                drawers = row.Drawers;
                material = row.Material;
                numDays = row.Days;
                totalCost = row.Total;
                date = row.Date;
            }
            else
            {
                Validation.AddFormError("No order was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No order was selected.");
        }
    }
    if(IsPost && !Request["buttonDelete"].IsEmpty())
    {
        orderId = Request.Form["orderId"];
        var db = Database.Open("WebPagesEscritorio");
        var deleteCommand = "DELETE FROM Escritorio WHERE ID = @0";
        db.Execute(deleteCommand, orderId);
        Response.Redirect("~/MegaEscritorio");
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>    <!-- Latest compiled and minified CSS -->
    @RenderPage_header.cshtml");
</head>
<body>
    <h1>Delete a Desk Order</h1>
    @Html.ValidationSummary()

    <form method="post">
        <fieldset>
            <legend>Desk Order Information</legend>

            <p>
                <span>Customer Name:</span>
                <span>@name</span>
            </p>
            <p>
                <span>Length:</span>
                <span>@length inches</span>
            </p>
            <p>
                <span>Width:</span>
                <span>@width inches</span>
            </p>
            <p>
                <span>Number of Drawers:</span>
                <span>@drawers</span>
            </p>
            <p>
                <span>Surface Material:</span>
                <span>@material</span>
            </p>
            <p>
                <span>Number of Days:</span>
                <span>@numDays</span>
            </p>
            <p>
                <span>Total Cost of Order:</span>
                <span>$@totalCost</span>
            </p>
            <p>
                @Html.Label("Date:")
                <span>@date.ToString("MMM dd yyyy")</span>
            </p>
            <input type="hidden" name="orderId" value="@orderId" />

            <p>
                <input class="btn btn-primary" type="submit" name="buttonDelete" value="Delete Order" />
            </p>

        </fieldset>
        <p>
            <a class="btn btn-primary" href="~/MegaEscritorio">Return to Mega Escritorio Orders</a>
        </p>
    </form>

</body>
</html>
